namePrefix: '{{ include "chart.fullname" . }}-'

namespace: "{{ .Release.Namespace | quote }}"

generatorOptions:
  disableNameSuffixHash: true

images:
  - name: ghcr.io/cndoit18/lxcfs-manager
    newName: "{{.Values.image.manager}}"
  - name: ghcr.io/cndoit18/lxcfs-agent
    newName: "{{.Values.image.agent}}"

patches:
  - patch_deployment_config.yaml
  - patch_deployment_webhook.yaml
  - patch_daemonset_config.yaml

patchesJson6902:
  - target:
      version: v1
      group: apps
      kind: Deployment
      name: controller-manager
    path: patch_deployment_metadata.yaml
  - target:
      version: v1
      group: apps
      kind: Deployment
      name: controller-manager
    path: patch_deployment_resources.yaml
  - target:
      version: v1
      group: apps
      kind: Deployment
      name: controller-manager
    path: patch_deployment_security.yaml
  - target:
      version: v1
      group: apps
      kind: DaemonSet
      name: controller-manager-daemonset
    path: patch_daemonset_metadata.yaml
  - target:
      version: v1
      group: apps
      kind: DaemonSet
      name: controller-manager-daemonset
    path: patch_daemonset_resources.yaml
  - target:
      version: v1
      group: apps
      kind: DaemonSet
      name: controller-manager-daemonset
    path: patch_daemonset_security.yaml

bases:
  - ../../manager
