- op: replace
  path: /metadata/labels
  value: '{{- include "chart.lxcfs.labels" . | nindent 4 }}'
- op: replace
  path: /spec/selector/matchLabels
  value: '{{- include "chart.lxcfs.selectorLabels" . | nindent 6 }}'
- op: replace
  path: /spec/template/metadata/labels
  value: '{{- include "chart.lxcfs.selectorLabels" . | nindent 8 }}'
- op: replace
  path: /spec/template/metadata/annotations
  value: "{{- toYaml .Values.lxcfs.podAnnotations | nindent 8 }}"
